.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

/* too lazy to learn SASS or w/e */
.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group >.list-group-item {
    padding-left: 60px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

#detail, #toc {
    height: 100%;
    position: fixed;
    /*right: 0px;    */
    /*top: 0px;*/
}

body {
    background-color: #f3ece6;
    color: #333333;
}

img {
    max-width: 100%;
    display: block;
}

div.awesomplete > ul {
    z-index: 3; /* bootstrap sets .input-group .form-control to 2 */
}