<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Javascript Includes -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script> 

	<!-- CSS Includes --> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='nested-list.css')}}">

	<!-- Collapsible Lists Snippet -->
	<script type="text/javascript">
	$(function() {        
		$('.list-group-item').on('click', function() {
			$('.glyphicon', this)
	  		.toggleClass('glyphicon-chevron-right')
	  		.toggleClass('glyphicon-chevron-down');
		});
	});

    function load_note(callback_url) {
        $("#content").load(callback_url, function() {
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "content"]);
            $('table').addClass('pure-table pure-table-bordered');   
        });
    }

    </script>
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-1-4">
            <div id="toc">
            {% block table_of_contents %}
            {% endblock %}
            </div>
            <div id="refresh">
            	<form action="/refresh" method="post">
            		<button type="submit" class="pure-button pure-button-primary">
				<span class="glyphicon glyphicon-refresh"></span>	
			</button>
            	</form>
            </div>
        </div>

        <div class="pure-u-1-3" id="content">
        </div> 

        <div class="pure-u-1-6" id="details"></div>
    </div>
</html>
