<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Javascript Includes -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script> 

	<!-- CSS Includes --> 
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='nested-list.css')}}">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet">
	<!-- Collapsible Lists Snippet -->
	<script type="text/javascript">
	$(function() {        
		$('.list-group-item').on('click', function() {
			$('.glyphicon', this)
	  		.toggleClass('glyphicon-chevron-right')
	  		.toggleClass('glyphicon-chevron-down');
		});
	});

    function load_note(callback_url) {
        $.getJSON(callback_url, function( data ) {
            $('#content').html(data['content']);
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "content"]);
            $('table').addClass('pure-table pure-table-bordered'); 
            
            var created = new Date(data['created']);
            $('#create_date').html('Created: ' + created.toDateString());

            var edited = new Date(data['updated']);
            $('#edit_date').html('Changed: ' + edited.toDateString());

            // Remove previous active and add new active
            $('.active').removeClass('active');
            $('#' + data['id']).addClass('active');
        });
    }
    </script>
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-1-4">
            <div id="toc">
                <div id="refresh">
                    <form action="/refresh" method="post">
                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-refresh"></span> Refresh
                         </button>
                    </form>
                </div>
            {% block table_of_contents %}
            {% endblock %}
            </div>
        </div>

        <div class="pure-u-1-3" id="note">
            <div id="content"></div>
        </div> 

        <div class="pure-u-1-24" id="filler"></div>

        <div class="pure-u-1-6" id="detail">
            <h4 id='create_date'></h4>
            <h4 id='edit_date'></h4>
        </div>
    </div>
</body>
</html>
