{% extends "base.html" %}

{# Recursively generate sitemap #}
{% block table_of_contents %}
<div class="list-group list-group-root well">
{% for notebook in root_nb.children recursive %}
    <a href="#{{ notebook.id }}" class="list-group-item" data-toggle="collapse">
        <i class="glyphicon glyphicon-chevron-right"></i>{{notebook.name}}
    </a>
    <div class="list-group collapse" id="{{ notebook.id }}">

    {% for note in notebook.notes %}
        <a href="#" id="{{ note.id }}" onclick="load_note('/api/note/{{ notebook.id }}/{{ note.id  }}')" class="list-group-item">{{ note.title }}</a>
    {% endfor %}


    {% if notebook.children %}
        {{ loop(notebook.children) }}
    {% endif %}

    </div>
{% endfor %}
</div>
{% endblock %}
